In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([{'Subject':'Subject 1','Marks':70,'Std Dev. of marks':15, 'Mean mark of class':60},
                   {'Subject':'Subject 2','Marks':65,'Std Dev. of marks':6, 'Mean mark of class':60},])

In [3]:
df.index = df['Subject']

In [4]:
df.drop('Subject',axis=1,inplace=True)

In [5]:
df['Z_Score'] = df['Marks'] - df['Mean mark of class']/df['Std Dev. of marks']

In [6]:
df

           Marks  Std Dev. of marks  Mean mark of class  Z_Score
Subject
Subject 1     70                 15                  60     66.0
Subject 2     65                  6                  60     55.0